<?xml version="1.0" encoding="UTF-8" ?>
<!--
   /**
    * Created by Qoliber
    *
    * @category    Qoliber
    * @package     Qoliber_EventCalendar
    * @author      Jakub Winkler <jwinkler@qoliber.com>
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Qoliber_EventCalendar">
        <sequence>
            <module name="Magento_Backend" />
            <module name="Magento_Catalog" />
        </sequence>
    </module>
</config>
