<?xml version="1.0" encoding="UTF-8" ?>
<!--
   /**
    * Created by Qoliber
    *
    * @category    Qoliber
    * @package     Qoliber_EventCalendar
    * @author      Jakub Winkler <jwinkler@qoliber.com>
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Qoliber_EventCalendar::Event" title="Event Calendar" translate="title"
             module="Qoliber_EventCalendar" sortOrder="1000" parent="Magento_Backend::marketing"
             resource="Qoliber_EventCalendar::Event" action="events/event/index"/>
    </menu>
</config>
