<?xml version="1.0" encoding="UTF-8" ?>
<!--
   /**
    * Created by Qoliber
    *
    * @category    Qoliber
    * @package     Qoliber_EventCalendar
    * @author      Jakub Winkler <jwinkler@qoliber.com>
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="events" frontName="events">
            <module before="Magento_Backend" name="Qoliber_EventCalendar"/>
        </route>
    </router>
</config>
